

@using katal.conexion.model.entity;
@using katal.conexion.model.neg;
@using katal.Model;
@model List<ContableDet>
@{

    var gridView = Html.DevExpress().GridView<ContableDet>(gridViewSettings =>
    {
        gridViewSettings.Name = "gridView";
        gridViewSettings.KeyFieldName = "CNROITEM";

        gridViewSettings.CallbackRouteValues = new
        {
            Controller = "Comprobante",
            Action = "ContaGridViewPartial"
        };
        gridViewSettings.CustomActionRouteValues = new { Controller = "Comprobante", Action = "ContaGridViewPartial" };
        gridViewSettings.SettingsEditing.AddNewRowRouteValues = new { Controller = "Comprobante", Action = "GridViewAddComprobante" };
        gridViewSettings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Comprobante", Action = "GridViewUpdateComprobante" };



        gridViewSettings.EnablePagingGestures = AutoBoolean.False;

        gridViewSettings.ControlStyle.CssClass = "grid-view";
        gridViewSettings.Width = Unit.Percentage(100);
        gridViewSettings.Height = Unit.Percentage(100);

        gridViewSettings.Styles.Cell.Wrap = DefaultBoolean.False;
        gridViewSettings.Styles.PagerBottomPanel.CssClass = "pager";
        gridViewSettings.Styles.FocusedRow.CssClass = "focused";

        gridViewSettings.SettingsBehavior.AllowFocusedRow = true;
        //    gridViewSettings.SettingsBehavior.AllowSelectByRowClick = true;
        gridViewSettings.SettingsBehavior.AllowEllipsisInText = true;
        gridViewSettings.SettingsBehavior.AllowDragDrop = false;

        gridViewSettings.SettingsSearchPanel.CustomEditorName = "searchButtonEdit";
        gridViewSettings.SearchPanelEditorCreate = (sender, e) =>
        {
            e.EditorProperties = new DateEditProperties();
        };
        gridViewSettings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;
        gridViewSettings.SettingsEditing.EditFormColumnCount = 2;

        gridViewSettings.SettingsSearchPanel.CustomEditorName = "searchButtonEdit";

        gridViewSettings.Settings.VerticalScrollBarMode = ScrollBarMode.Hidden;
        gridViewSettings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
        gridViewSettings.Settings.ShowHeaderFilterButton = true;

        gridViewSettings.SettingsPager.PageSize = 50;
        gridViewSettings.SettingsPager.EnableAdaptivity = true;
        gridViewSettings.SettingsPager.PageSizeItemSettings.Visible = true;

        gridViewSettings.SettingsExport.EnableClientSideExportAPI = true;
        gridViewSettings.SettingsExport.ExportSelectedRowsOnly = true;
        gridViewSettings.SettingsPopup.EditForm.SettingsAdaptivity.MaxWidth = 700;
        gridViewSettings.SettingsPopup.EditForm.SettingsAdaptivity.Mode = PopupControlAdaptivityMode.Always;
        gridViewSettings.SettingsPopup.EditForm.SettingsAdaptivity.VerticalAlign = PopupAdaptiveVerticalAlign.WindowCenter;
        gridViewSettings.EditFormLayoutProperties.SettingsAdaptivity.AdaptivityMode = FormLayoutAdaptivityMode.SingleColumnWindowLimit;
        gridViewSettings.EditFormLayoutProperties.SettingsAdaptivity.SwitchToSingleColumnAtWindowInnerWidth = 1200;
        gridViewSettings.EditFormLayoutProperties.UseDefaultPaddings = false;
        gridViewSettings.EditFormLayoutProperties.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Top;
        gridViewSettings.EditFormLayoutProperties.Styles.LayoutGroup.Cell.Paddings.Padding = Unit.Pixel(3);
        gridViewSettings.EditFormLayoutProperties.Styles.LayoutItem.Paddings.PaddingBottom = Unit.Pixel(8);
        gridViewSettings.SetEditFormTemplateContent(c =>
        {

            ComprobanteNeg em = new ComprobanteNeg();
            Html.DevExpress().FormLayout(layoutSetting =>
            {
                layoutSetting.Name = "FormLayoutSetting";

                layoutSetting.Width = Unit.Percentage(100);

                layoutSetting.SettingsAdaptivity.AdaptivityMode = FormLayoutAdaptivityMode.SingleColumnWindowLimit;
                layoutSetting.SettingsAdaptivity.SwitchToSingleColumnAtWindowInnerWidth = 700;
                layoutSetting.UseDefaultPaddings = false;

                layoutSetting.ColumnCount = 12;

                var groupItem = layoutSetting.Items.AddGroupItem(groupSettings =>
                {
                    groupSettings.Caption = "Registro";
                    groupSettings.ShowCaption = DefaultBoolean.True;
                    groupSettings.GroupBoxDecoration = GroupBoxDecoration.Default;
                    groupSettings.ColumnCount = 12;
                    groupSettings.ColumnSpan = 12;
                });

                groupItem.Items.Add(i =>
                {

                    i.FieldName = "CNROITEM";
                    i.Caption = "Secuencia";

                    i.ColumnSpan =6;
                    i.NestedExtension().TextBox(t =>
                    {
                        t.Properties.ClientSideEvents.Init = "onDataConta";
                        t.ReadOnly = true;
                    });
                });
                groupItem.Items.Add(i =>
                {
                    i.FieldName = "CTIPO";
                    i.ColumnSpan = 6;
                    i.Caption = "Tipo";
                    i.NestedExtension().ComboBox(t =>
                    {
                        t.Properties.ValidationSettings.Display = Display.Dynamic;
                        t.ShowModelErrors = true;
                        t.SelectedIndex = 0;
                        t.Properties.Items.Add("DEBE", 0);
                        t.Properties.Items.Add("HABER", 1);
                        //  t.Properties.ClientSideEvents.SelectedIndexChanged = "onchangeCambio";

                    });
                });


                groupItem.Items.Add(i =>
                {
                    i.FieldName = "CCODCONTA";
                    i.Caption = "cuenta";
                    i.ColumnSpan = 12;
                    i.SetNestedContent(() =>
                    {
                        Html.RenderAction("MultiSelectPlanCuenta");
                    });
                });


                groupItem.Items.Add(i =>
                {
                    i.FieldName = "NVALOR";
                    i.Caption = "Valor";
                    i.ColumnSpan = 6;
                    i.NestedExtension().TextBox(t =>
                    {

                        // t.Properties.ClientSideEvents.Init = "onData";
                    });
                });

                groupItem.Items.Add(i =>
                {
                    i.FieldName = "CCOSTO";

                    i.Caption = "C. costos:";
                    i.ColumnSpan = 6;
                    i.SetNestedContent(() =>
                    {
                        Html.RenderAction("MultiSelectCentroCostos");
                    });
                });
                groupItem.Items.Add(i =>
                {
                    i.FieldName = "ORDFAB";
                    i.Caption = "Ord. Fabricación";
                    i.ColumnSpan =6;
                    i.SetNestedContent(() =>
                    {
                        Html.RenderAction("MultiSelectOrdenFabricacion");
                    });
                });
                groupItem.Items.Add(i =>

                {
                    i.FieldName = "CCTADEST";
                    i.Caption = "C. Destino";
                    i.ColumnSpan = 6;

                    i.SetNestedContent(() =>
                    {
                        Html.RenderAction("MultiSelectDestinoConta", new { CO_C_CODIG = DataBinder.Eval(c.DataItem, "CCTADEST") });
                    });
                });


                groupItem.Items.Add(i =>
                {
                    i.FieldName = "CCODANEXO";
                    i.Caption = "Anexo";
                    i.ColumnSpan = 12;
                    i.SetNestedContent(() =>
                    {
                        Html.RenderAction("MultiSelectAnexoConta", new { ANEX_CODIGO = DataBinder.Eval(c.DataItem, "CCODANEXO") });
                    });
                });

                groupItem.Items.Add(i =>
                {
                    i.FieldName = "CGLOSA";
                    i.ColumnSpan = 12;
                    i.Caption = "Glosa";
                    i.NestedExtension().TextBox(t =>
                    {
                        t.Properties.ValidationSettings.Display = Display.Dynamic;
                        t.ShowModelErrors = true;

                    });

                });

                groupItem.Items.Add(i =>
                {
                    i.FieldName = "Cantidad";
                    i.ColumnSpan = 6;
                    i.Caption = "Cantidad";
                    i.NestedExtension().TextBox(t =>
                    {
                        t.Properties.ValidationSettings.Display = Display.Dynamic;
                        t.ShowModelErrors = true;

                    });

                });

                groupItem.Items.Add(i =>
                {
                    i.FieldName = "Maquina";
                    i.ColumnSpan = 6;
                    i.Caption = "Maquina";
                    i.NestedExtension().ComboBox(s =>
                    {
                        s.Width = Unit.Percentage(100);
                        s.ShowModelErrors = true;
                        s.Properties.ValidationSettings.Display = Display.Dynamic;
                        s.Properties.ValidationSettings.SetFocusOnError = true;
                        s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                        s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                        s.Properties.DataSource = em.findAllMaquinas();
                        s.Properties.ValueField = "idmaquina";
                        s.Properties.TextField = "maq_codigo";

                    });

                });

                layoutSetting.Items.Add(itemSettings =>
                {
                    itemSettings.ColumnSpan = 12;
                    itemSettings.ShowCaption = DefaultBoolean.False;
                }).SetNestedContent(() =>
                {
                    ViewContext.Writer.Write("<div style='float:right'>");
                    Html.DevExpress().Button(
                        btnSettings =>
                        {
                            btnSettings.Name = "btnUpdate";
                            btnSettings.Text = "Grabar";
                            btnSettings.ClientSideEvents.Click = "function(s, e){ gridView.UpdateEdit(); }";

                            //I want to Hide Update Button when FirstName is "John"

                        }).Render();

                    Html.DevExpress().Button(
                        btnSettings =>
                        {
                            btnSettings.Name = "btnCancel";
                            btnSettings.Text = "Cancel";
                            btnSettings.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                            btnSettings.ClientSideEvents.Click = "function(s, e){ gridView.CancelEdit(); }";
                        }).Render();
                    ViewContext.Writer.Write("</div>");
                });


            }).Bind(ViewData["Object"] ?? c.DataItem).Render();

        });


        gridViewSettings.Columns.Add(columnSettings =>
        {
            columnSettings.FieldName = "CNROITEM";
            columnSettings.Caption = "Codigo";

            columnSettings.Width = Unit.Pixel(100);
        });
        gridViewSettings.Columns.Add(columnSettings =>
        {
            columnSettings.FieldName = "CCODCONTA";
            columnSettings.Caption = "cuenta";
            columnSettings.Width = Unit.Pixel(100);
        });

        gridViewSettings.Columns.Add(columnSettings =>
        {
            columnSettings.FieldName = "campo1";
            columnSettings.Caption = "Debe";
            columnSettings.Width = Unit.Pixel(300);
        });

        gridViewSettings.Columns.Add(columnSettings =>
        {
            columnSettings.FieldName = "campo2";
            columnSettings.Caption = "Haber";
            columnSettings.Width = Unit.Pixel(100);
        });

        gridViewSettings.ClientSideEvents.SelectionChanged = "onGridViewSelectionChanged";
        gridViewSettings.ClientSideEvents.BeginCallback = "onGridViewBeginCallback";
        //gridViewSettings.ClientSideEvents.FocusedRowChanged = "OnGridFocusedRowChangedComprobante";
        gridViewSettings.CellEditorInitialize = (s, e) =>
        {
            ((ASPxEdit)e.Editor).ValidationSettings.Display = Display.Dynamic;
        };
    });
    if (ViewBag.GeneralError != null)
    {
        gridView.SetEditErrorText(ViewBag.GeneralError);
    }
}

@gridView.Bind(Model).GetHtml()

